<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logout</title>
  <link rel="stylesheet" href="/CSS/Auth/Logout.css">
</head>
<body>
  <div class="logout-container">
    <h2>Logout</h2>

    <form id="logoutform" class="logout-form">
      <p>Are you sure you want to logout?!</p>

      <button type="submit" class="btn">Logout</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/JS/Auth/Logout.js"></script>
</body>
</html>
