<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Notes</title>
  <link rel="stylesheet" href="/CSS/Home/home.css">
</head>
<body>
  <main>
    <section class="categories">
      <h2>Categories</h2>
      <ul id="categoriesList">
      </ul>
    </section>

    <section class="notes">
      <h2>Your Notes</h2>
      <ul id="notesList">
      </ul>
    </section>
  </main>

  <script src="/JS/Home/home.js"></script>
</body>
</html>